.hero {
  background-color: $block2;
  color: #fff;
  font-size: 1em;
  position: relative;
  margin-bottom: 3em;

  &:before {
    content: '';
    width: 100%;
    height: 175%;
    background-image: url('img/pattern2.svg');
    background-position: center top;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }
  &:after {
    content: '';
    // No idea why height 100% works, needs testing
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-image: url('img/border.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left top;
    // weird border
    margin-top: -1px;
  }
  &--2 {
    margin: 3em 0 0;
    &:before {
      display: none;
    }
    &:after {
      background-image: url('img/border-bottom.svg');
      background-position: left bottom;
      top: auto;
      bottom: 100%;
      // weird border
      margin: 0 0 -1px;
    }
  }

  &__upper {
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    padding: 2em 0;
  }
  &__block {
    background-color: $white;
    margin: 1em;
    color: $body_color;
  }
  &__title {
    margin: 0;
  }

  @include respond-to(sm-and-up) {
    &--1 {
      margin-bottom: 8em;
    }
    &--2 {
      margin-top: 8em;
      &:before {
        // top: -200px;
        // height: 1;
      }
    }
    &__upper {
      height: 25%;
      height: 25vh;
      font-size: 2em;
      padding: 0;
    }
    &__timestamp,
    &__icon {
      display: block;
    }
  }
}
