.site-footer {
  background-color: $block3;
  padding: 1em 0;
  border-top: 5px solid darken($block3, 10%);
  text-align: center;
  color: #fff;
  a {
    color: #fff;
    text-decoration: none;
  }
}
